[tpa@126.com]
host                = smtp.126.com
port                = 25
ssl                 =
auth                = LOGIN
username            = tpa@126.com
password            = pass
maxConn             = 4
maxSendPerConn      = 8
sleepSecondsPerSend = 2
maxNoop             = 30
sleepSecondsPerNoop = 10

[tpb@126.com]
host                = smtp.126.com
port                = 25
ssl                 = SSL
auth                = LOGIN
username            = tpb@126.com
password            = pass
maxConn             = 4
maxSendPerConn      = 8
sleepSecondsPerSend = 2
maxNoop             = 30
sleepSecondsPerNoop = 10
